    <!-- Content Slider -->
 
    <div class="row">
      <div class="twelve columns hide-for-small">
        <div id="featured">
          <%= image_tag("Construction-Managers3.jpg", :size => '1200x500', :style => "width:1200px;height:500px")%>
          <%= image_tag("Construction-Managers2.jpg", :size => '1200x500', :style => "width:1200px;height:500px")%>
          <%= image_tag("Construction-Managers.jpg", :size => '1200x500', :style => "width:1200px;height:500px")%>
        </div>
      <hr />
      </div>
    </div>
 
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="twelve columns show-for-small">
          <%= image_tag("Construction-Managers3.jpg", :size => '1200x700')%>
        </div>
      </div>
 
    <!-- End Mobile Header -->
 
 
    <!-- Second Band (Image Left with Text) -->
  
  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="seven columns">
          <h4>Chico State and AGCxml</h4>
          <p>In collaboration with the Associated General Contractors of America (AGC), Tracy Gateway Business Park. California State University, Chico, is providing online prototype applications to local contractors participating in the U.S. Department of Transportation (DOT) Bond Education Program. The object of the program is to improve access to surety credit through open standards.  Students from Chico State University majoring in Business Project Management and Computer Science are involved in the management and development of the project.  Concurrently, students from Chico Stare will identify necessary data fields to establish the "AGC Standard Data Set for Projects out to Bid" and the "AGC Standard Data Set for Company Profile." These two sets from AGC and Caltrans can then be used to improve efficiency and drive down costs. <%= link_to "more...", home_about_path %></p>
        </div>
        <div class="five columns">
          <%= render "devise/registrations/new" %>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Third Band (Image Right with Text) -->
  
  <div class="row">
    <div class="four columns">
     <div class="flex-video">
        <img src="http://placehold.it/400x300&text=[Youtube Video]" />
        <!-- <iframe width="420" height="315" src="http://www.youtube.com/embed/9otNWTHOJi8" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>


    <div class="eight columns">
      <h4>Features</h4>
      
      <p>The agcXML schemas include the exchange of information commonly included in the following document types:</p>

      <div class="row">
        <div class="one column"></div>
        <div class="ten columns panel radius">
          <div class="row">
            <div class="one column"></div>
            <div class="five columns">
                <ul>
                  <li>Request for Information (RFI)</li>
                  <li>Request for Pricing/Proposals</li>
                  <li>Owner/Contractor Agreements</li>
                  <li>Schedule of Values</li>
                  <li>Change Order</li>
                </ul>
            </div>
            <div class="five columns">
                <ul>
                  <li>Application for Payment</li>
                  <li>Supplemental Instructions</li>
                  <li>Change Directive</li>
                  <li>Bid, Payment, Performance, and Warranty Bonds</li>
                  <li>Submittals</li>
                </ul> 
            </div>
            <div class="one column"></div>
          </div>
        </div>
        <div class="one column"></div>
      </div>
  
    </div>
  </div>